<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Downloadable Links"} %>

<<<<<<< HEAD:app/views/admin/product_downloads/edit.html.erb

<% form_for (@product_download, :url => object_url, :html => { :multipart => true }) do |f| %>
  	<fieldset>
		<% f.field_container :name do %>
			<%= f.label :name, t("filename") %> <span class="required">*</span>
			<sup>Leaving this blank will use the file stored in the database</sup><br/>
			<%= f.file_field :downloadable %><br/>
			
	    <% end %> 
	
		<% f.field_container :title do %>
			<%= f.label t("title") %><span> <sup>Defaults to filename if blank</sup></span><br/>
			<%= f.text_field :title %>
	  	<% end %>
	
		<% f.field_container :description do %>
			<%= f.label t("description") %><br/>
			<%= f.text_field :description %>
	  	<% end %>
	
		<% f.field_container :enabled do %>
			<%= f.label t("enabled") %><br/>
			<%= f.check_box :enabled %>
	  	<% end %>
	
	  	<%= render :partial => 'admin/shared/edit_resource_links' %>
=======
<% form_for(:product_download, :url => object_url, :html => { :method => :put, :multipart => true }) do |f| %>
	<fieldset>
		<%= render :partial => 'form', :locals => {:f => f} %>
		<%= render :partial => 'admin/shared/edit_resource_links' %>
>>>>>>> 5a91be7bf3d8b207465dc8688438fea192118b88:app/views/admin/product_downloads/edit.html.erb
	</fieldset>
<% end %>