<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Downloadable Links"} %>

<% form_for(:product_download,  :url => collection_url, :html => { :multipart => true }) do |f| %>
	<fieldset>
		<%= render :partial => 'form', :locals => {:f => f} %>
		<%= render :partial => 'admin/shared/new_resource_links' %>
	</fieldset>
<% end %>
	
<table class="index">
	<tr>
		<th><%= t("title") %></th>
		<th><%= t("filename") %></th>
		<th><%= t("description") %></th>
		<th><%= t("enabled") %></th>
		<th><%= t("action") %></th>
	</tr>
  <% @product.product_downloads.each do |product| %>
    <tr>
		<td><%= product.title %></td>
		<td><%= link_to product.filename, product.downloadable.url %></td>
		<td><%= product.description %></td>
		<td>CheckMark HERE</td>
	    <td class="actions">
	      <%= link_to_edit(product) %>
	      &nbsp;
	      <%= link_to_delete(product) %>
	    </td>     
    </tr>
  <% end %>
  <% if @product.product_downloads.empty? %>
    <tr><td colspan="5"><%= t("none") %>.</td></tr>
  <% end %>
</table>
